In [0]:
!ls

Answers.csv  drive  file.log  Questions.csv  sample_data  Tags.csv

In [2]:
import pickle
import os
import chardet
import pandas as pd
import numpy as np
import nltk
import string
import copy

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from bs4 import BeautifulSoup as bs
from scipy.spatial.distance import cosine

In [13]:
import re
import keyword
import heapq
from nltk.tokenize import RegexpTokenizer
import math

In [5]:
corpus = ['This is the first document.','This document is the second document.','And this is the third one.','Is this the first document?']
c=["the document is the second"]

In [3]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)

In [7]:
ques_title = vectorizer.transform(c)
ques_title.toarray()

array([[0, 1, 0, 1, 0, 1, 2, 0, 0]], dtype=int64)

In [8]:
a=["sfgjgd"]
b=["dsfgsf"]
c=a+b
print(c)

['sfgjgd', 'dsfgsf']

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
!unzip drive/'My Drive'/pythonquestions.zip

In [6]:
import chardet
import pandas as pd
import numpy as np
import nltk
import string
import copy

from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
from bs4 import BeautifulSoup as bs
from scipy.spatial.distance import cosine

In [0]:
!python -m nltk.downloader all > file.log

/usr/lib/python3.6/runpy.py:125: RuntimeWarning: 'nltk.downloader' found in sys.modules after import of package 'nltk', but prior to execution of 'nltk.downloader'; this may result in unpredictable behaviour
  warn(RuntimeWarning(msg))

In [10]:
stop_words = stopwords.words('english')
needed_words = ['what', 'which', 'if', 'while', 'for', 'between', 'into', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over','then','not','how','do']
removing_words = list(set(stop_words).difference(set(needed_words)))

In [8]:
lemmatizer = nltk.stem.WordNetLemmatizer()
stemmer = nltk.stem.PorterStemmer()
w_tokenizer = nltk.tokenize.WhitespaceTokenizer()

In [0]:
def preprocess(pd):
  pd = pd.str.lower()
  pd = pd.apply(lambda x: [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(x)])
  pd = pd.apply(lambda x: [item for item in x if item not in removing_words])
  pd = pd.apply(lambda x: [stemmer.stem(y) for y in x])
  pd = pd.str.join(' ')
  pd = pd.str.replace('[{}]'.format('$<>?@`\'"'), ' ')
  return pd

In [0]:
def extract_code(m):
  b = bs(m)
  t = b.find_all('code')
  for tag in t:
      tag.replace_with('')
  return t

In [0]:
def extract_body(m):
  b = bs(m)
  t = b.find_all('code')
  for tag in t:
      tag.replace_with('')
  a = list({tag.name for tag in b.find_all()})
  for i in a:
    b = str(b).replace("<"+str(i)+">", " ")
    b = str(b).replace("</"+str(i)+">", " ")
  return b

In [3]:
questions = pd.read_csv('Questions.csv', encoding = "ISO-8859-1")

In [4]:
len(questions)

607282

In [5]:
questions = pd.read_csv('Answers.csv', encoding = "ISO-8859-1")
len(questions)

987122

In [6]:
questions = pd.read_csv('Tags.csv', encoding = "ISO-8859-1")
len(questions)

1885078

In [0]:
processed = copy.deepcopy(questions.head(10000))

In [0]:
questions.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [0]:
processed['Title'] = preprocess(processed['Title'])
processed.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,how find full path font from display name on mac,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,get preview jpeg pdf on windows,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,continu integr system for python codebas,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_oracle: how do iter over result set,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,use in match attribut python object in array,<p>I don't remember whether I was dreaming or ...

In [0]:
processed['Code'] = processed['Body'].apply(lambda x: extract_code(x))
processed.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body,Code
0,469,147.0,2008-08-02T15:11:16Z,21,how find full path font from display name on mac,<p>I am using the Photoshop's javascript API t...,[]
1,502,147.0,2008-08-02T17:01:58Z,27,get preview jpeg pdf on windows,<p>I have a cross-platform (Python) applicatio...,[]
2,535,154.0,2008-08-02T18:43:54Z,40,continu integr system for python codebas,<p>I'm starting work on a hobby project with a...,[]
3,594,116.0,2008-08-03T01:15:08Z,25,cx_oracle: how do iter over result set,<p>There are several ways to iterate over a re...,[]
4,683,199.0,2008-08-03T13:19:16Z,28,use in match attribut python object in array,<p>I don't remember whether I was dreaming or ...,[<code>foo in iter_attr(array of python object...

In [0]:
processed['Body'] = preprocess(processed['Body'].apply(lambda x: extract_body(x)))
processed.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body,Code
0,469,147.0,2008-08-02T15:11:16Z,21,how find full path font from display name on mac,use photoshop javascript api find font in giv...,[]
1,502,147.0,2008-08-02T17:01:58Z,27,get preview jpeg pdf on windows,cross-platform (python) applic which need gene...,[]
2,535,154.0,2008-08-02T18:43:54Z,40,continu integr system for python codebas,i m start work on hobbi project python codebas...,[]
3,594,116.0,2008-08-03T01:15:08Z,25,cx_oracle: how do iter over result set,sever way iter over result set. what tradeoff ...,[]
4,683,199.0,2008-08-03T13:19:16Z,28,use in match attribut python object in array,rememb whether wa dream not seem recal functio...,[<code>foo in iter_attr(array of python object...

In [0]:
def cosine(a, b):
  m = a.multiply(b)
  numerator = m.sum(axis=1)
  det_a = np.sqrt(a.sum(axis = 1))
  det_b = np.sqrt(b.sum(axis = 1))
  return numerator / (det_a * det_b)

In [2]:
query_body="how to concatenate two dictionaries to create a new one in Python?"

In [4]:
def preprocess(pd):
  pd = pd.str.lower()
  pd = pd.apply(lambda x: [lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(x)])
  pd = pd.apply(lambda x: [item for item in x if item not in removing_words])
  pd = pd.apply(lambda x: [stemmer.stem(y) for y in x])
  pd = pd.str.join(' ')
  pd = pd.str.replace('[{}]'.format('$<>?@`\'"'), ' ')
  return pd

In [14]:
tokenizer=RegexpTokenizer('\s+',gaps=True)

In [15]:
q=list(preprocess(pd.DataFrame([query_body])[0]))[0]
temp=tokenizer.tokenize(q)

In [16]:
temp

['how', 'concaten', 'two', 'dictionari', 'creat', 'new', 'one', 'in', 'python']

In [33]:
title_corpus='guest is the world how concaten two dictionari creat new one in python python'

In [35]:
a=[]
a.append(title_corpus)

In [36]:
vc_title_tag = CountVectorizer() #TfidfVectorizer()
vec_title = vc_title_tag.fit_transform(a)

In [37]:
vec_title

<1x13 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [44]:
vec_title

<1x13 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [38]:
question = "how to concatenate two dictionaries to create a new one in Python?"

In [39]:
q_title1 = vc_title_tag.transform(preprocess(pd.DataFrame([question])[0]))

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
q_title1

<1x13 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [47]:
cosine_similarity(q_title1,vec_title)[0][0]

0.8333333333333333

In [0]:
VC_title = CountVectorizer() #TfidfVectorizer()
X_title = VC_title.fit_transform(processed['Title'])
Q_title = VC_title.transform(preprocess(pd.DataFrame([question])[0]))

In [0]:
vec_title = cosine(X_title, Q_title)

In [0]:
questions['Title'][np.argmax(vec_title)]

'How can one create new scopes in python'

In [0]:
VC_body = CountVectorizer() #TfidfVectorizer()
X_body = VC_body.fit_transform(processed['Body'])
Q_body = VC_body.transform(preprocess(pd.DataFrame([question])[0]))

In [0]:
vec_body = cosine(X_body, Q_body)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in true_divide

In [0]:
questions['Title'][np.argmax(vec_body)]

'What property returns the regular expression used when re.compile was called?'

In [0]:
questions['Body'][np.argmax(vec_body)]

"<pre><code>def foo ():\n   x = re.compile('^abc')\n\n   foo2(x)\n\ndef foo2(x):\n\n   # How do I get x to return '^abc'?\n   logging.info('x is ' + x.???)\n</code></pre>\n"